@*@model NetStock.Contract.Product*@



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="lblHeader">Add/Edit Product Code</h4>

</div>

@*@using (Html.BeginForm())
{*@

<div class="jumbotron">
    <form action="~/MasterData/EditProduct" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style=" background: none; border: none;">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>



<script type="text/javascript">
    $("input ,select, textarea,hidden, a,.ui-igcombo").not($(":button,a")).keypress(function (evt) {
        if (evt.keyCode == 13) {
            evt.preventDefault();
            return false;
        }
    });

</script>