@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Net Stock</h1>
    <p class="lead">Net Stock is a web based Online application for the Product Stock &amp; Point-Of-Sales solutions.</p>
    
</div>
